*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    background: #ddd;
}
.box{
    height: 400px;
    padding: 20px;
    background: orange;
    border: 3px solid #ddd;
    font-size: 30px;
    flex: 1;
    transition: 1s;
}
.box:hover{
    flex: 5;
}
#box-1{
    background-image: url(../images/Nations-Images/mondstad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#box-2{
    background-image: url(../images/Nations-Images/liyue.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#box-3{
    background-image: url(../images/Nations-Images/inazuma.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#box-4{
    background-image: url(../images/Nations-Images/sumeru.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#box-5{
    background-image: url(../images/Nations-Images/fontaine.webp);
    background-repeat: no-repeat;
    background-size: cover;
}



















